<?js if (obj?.total > 1) { ?>
  <?js if (obj.index == 0) { ?><table><?js } ?>
  <tr>
    <td><?js= this.partial('type.tmpl', obj?.type.names) ?></td>
    <td><?js= (obj?.description ?? '').trim().replace(/^<p>(.+)<\/p>$/s, '$1') ?></td>
  </tr>
  <?js if (obj.index == obj.total - 1) { ?></table><?js } ?>
<?js } else if (obj?.type?.names) { ?>
  <?js= this.partial('type.tmpl', obj.type.names) ?>
  <?js= obj?.description ?? '' ?>
<?js } ?>
