<span class="type-signature"><?js
    var data = obj;
    var self = this;
    data.forEach(function(name, i) {
        var linkto = self.fixupTypeName(self.linkto(name, self.htmlsafe(name)));
        var sep = (i < data.length-1) ? '&#8239;|&#8239;<wbr>' : '';
?><?js= linkto + sep ?><?js
    });
?></span>
